{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script> -->
<!-- <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/chosen.jquery.js') }}"></script>
<link href="{{ url_for('static', filename='css/chosen.css') }}" rel="stylesheet"/>

<div class="formwrapper">
  <h2 class="title">Download Ticker Data</h2>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-field">{{ form.ticker.label }} {{ form.ticker }}
      {% if form.ticker.errors %}
        <ul class="errors">
	  {% for error in form.ticker.errors %}
	    <li>{{ error }}</li>
	  {% endfor %}
	</ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.price.label }} {{ form.price }}
      {% if form.price.errors %}
        <ul class="errors">
	  {% for error in form.price.errors %}
	    <li>{{ error }}</li>
	  {% endfor %}
	</ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.granularity.label }} {{ form.granularity }}
      {% if form.granularity.errors %}
        <ul class="errors">
	  {% for error in form.granularity.errors %}
	    <li>{{ error }}</li>
	  {% endfor %}
	</ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.from_.label }} {{ form.from_ }}
      {% if form.from_.errors %}
        <ul class="errors">
	  {% for error in form.from_.errors %}
	    <li>{{ error }}</li>
	  {% endfor %}
	</ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.to.label }} {{ form.to }}
      {% if form.to.errors %}
        <ul class="errors">
	  {% for error in form.to.errors %}
	    <li>{{ error }}</li>
	  {% endfor %}
	</ul>
      {% endif %}
    </div>
    {{ form.submit() }}
  </form>
</div>
<script type=text/javascript>
  $(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!",
    placeholder_text_multiple: "Select components.",
    inherit_select_classes: true,
  })
</script>
{% endblock %}
