{% extends "base.html" %}

{% block content %}
    <h1>Generate Indicator Data</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.ticker.label }}<br>
            {{ form.ticker(size=32) }}<br>
            {% for error in form.ticker.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.granularity.label }}<br>
            {{ form.granularity(size=3) }}<br>
            {% for error in form.ticker.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
