{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
  <h2 class="title">Sign In</h2>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-field">{{ form.username.label }} {{ form.username }}
      {% if form.username.errors %}
        <ul class="errors">
	  {% for error in form.username.errors %}
	    <li>{{ error }}</li>
	  {% endfor %}
	</ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.password.label }} {{ form.password }}
      {% if form.password.errors %}
        <ul class="errors">
	  {% for error in form.password.errors %}
	    <li>{{ error }}</li>
	  {% endfor %}
	</ul>
      {% endif %}
    </div>
    {{ form.remember_me() }} {{ form.remember_me.label }}
    {{ form.submit() }}
  </form>
</div>
{% endblock %}
