[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
api = {editable = true,path = "."}

[packages]
requests = "*"
click = "*"
setuptools = "*"

[requires]
python_version = "3.7"
