[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
tulipy = "*"
memory-profiler = "*"
htp = {editable = true,path = "."}
pytest-mock = "*"

[packages]
requests = "*"
pandas = "*"
loguru = "*"
scikit-learn = "*"
pyyaml = "*"
matplotlib = "*"
tqdm = "*"
tables = "*"
sphinx = "*"
rq = "*"
celery = "*"
flask = "*"
flask-wtf = "*"
flask-login = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
bokeh = "*"

[requires]
python_version = "3.7"
