[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
htp = {editable = true,path = "."}
pytest = "*"

[packages]
requests = "*"
click = "*"
setuptools = "*"
pandas = "*"
pyyaml = "*"
sphinx = "*"
matplotlib = "*"
ipython = "*"
memory-profiler = "*"
loguru = "*"

[requires]
python_version = "3.7"
